/*
  We include some minimal custom CSS to make the playlist UI look good
  in this context.
*/

body {
  font-family: Arial, sans-serif;
}

.info {
  background-color: #eee;
  border: thin solid #333;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 0 5px;
}

.player-container {
  background: #1a1a1a;
  overflow: auto;
  width: 900px;
  margin: 0 0 20px;
}

.video-js {
  float: left;
}

.vjs-playlist,
.my-custom-class,
#my-custom-element {
  float: left;
  width: 300px;
}

.vjs-playlist.vjs-playlist-horizontal {
  float: none;
  height: 120px;
  width: 600px;
}

.vjs-text-track-display {
  /* width: 100% !important;
  height: 100% !important; */
  inset-block: 0px !important;
}

.vjs-text-track-cue {
  position: absolute !important;
  /* bottom: 10px !important; */
  top: 10px !important;
}

#button-container {
  display: none !important;
}

.player-container {
  display: flex;
  background: #1a1a1a;
  overflow: auto;
  width: 100%;
  /* height: 100% !important; */
  margin: 0 0 20px;
}

.vjs-playlist {
  float: right;
  justify-content: right;
  /* Horizontal centering */
  align-items: right;
  /* Vertical centering */
}

#video, #video-background {
  width: cal(100vw - 60px);
  /* this height is important because if use 100vh - 80px, it will appear a scroll bar, because the height of this element has touch to the height of player-container itself */
  height: calc(100vh - 85px) !important;

  justify-content: center;
  /* Horizontal centering */
  align-items: center;
  /* Vertical centering */
}

.player-container,
.vjs-playlist {
  height: calc(100vh - 80px);
}

/* .video-js .vjs-tech {          -> not use this, it will bring the center of video tag over
  height: calc(100vh - 80px) !important;
} */

/* #timestamp-container {


  cursor: grab;
  /* Visual cue that it's draggable */





/* must use a substract to dynamical adjust the height of ql-editorm, >< the editor will appear overload the height of all oshi box but no need because has done in extension */
/* #timestamp-content { */
  /* height: calc(100% - 50px) !important; */

  textarea {
  field-sizing: content;
  min-height: 4rem; /* Keeps it from collapsing entirely */
  font-size: 20px;
  font-weight: bold;   
}
.ql-editor {
  font-size: 18px !important;
  line-height: 1.5;
}


/* this 0.6 will be overided in index.html */
.fade-in {
  animation: fadeIn var(--fade-duration, 0.6s) ease-in-out;
}

/* Can not create 2 class if .fade-in already existed like this */
/* .fade-in-first {
  animation: fadeIn 1.5s ease-in-out;
}
 */

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: var(--fade-opacity, 1); }
}



#hover-btn {
  padding: 0.5rem 1rem;
  /* background: #eee200; */
  background: transparent;
  color: white;
  border: none;
  /* border-radius: 25%; */
  cursor: pointer;
  /* margin-right: 1rem; */
}

#slider-container {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  /* collapsed by default */
  opacity: 0;
  transform: translateX(-5px);
  transition:
    max-width 0.4s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
  vertical-align: middle;
}

#slider-container.visible {
  max-width: 300px;
  /* expand to fit slider */
  opacity: 1;
  transform: translateX(0);
}

#mySlider {
  display: inline-block;
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
}


#hover-btnBg {
  /* padding: 0.5rem 1rem; */
  /* background: #eee200; */

  background: transparent;
  color: white;
  border: none;
  /* border-radius: 25%; */
  cursor: pointer;
  /* margin-right: 1rem; */
}

#slider-containerBg {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  /* collapsed by default */
  opacity: 0;
  transform: translateX(-5px);
  transition:
    max-width 0.4s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
  vertical-align: middle;
}

#slider-containerBg.visible {
  max-width: 300px;
  /* expand to fit slider */
  opacity: 1;
  transform: translateX(0);
}

#mySliderBg {
  display: inline-block;
  display: flex;
  justify-content: center;
  /* centers horizontally */
  align-items: center;
  /* centers vertically */
  /* padding-bottom: 50px;
        margin-bottom: 30px;  these code just define the out border of the element, if want to, need to define the bottom */
}

md-slider {
  min-inline-size: 100px;
}